p {
    font-size: 20px !important;
    /* font-weight: bold; */
    /* color:aliceblue */
}

li {
    font-size: 20px !important;
    /* font-weight: bold; */
    /* color:aliceblue */
}

.ul_close{
    display: none;
}

.h2_line {
    display: flex;
    vertical-align: center;
    border-bottom: 1px solid rgba(68,68,68,0.1);
    padding-bottom: 20px;
}

pre {
    border: 3px solid;
    border-color: grey;
    border-radius: 20px;
    padding: 5px 10px 5px 10px !important;
}

/* .h2_line:before {
    content: '';
    margin-top: -32px;
} */

video {
    width: auto; /* 初始宽度为视频原始宽度 */
    max-width: 100% !important; /* 当视频超出父容器时，最大宽度为父容器宽度 */
    min-width: auto; /* 当视频没有超出父容器时，最小宽度为视频原始宽度 */
    height: auto; /* 根据视频的纵横比自动调整高度 */
    max-height: 70vh !important; /* 当视频超出父容器时，最大高度为父容器宽度 */
    min-height: auto; /* 当视频没有超出父容器时，最小宽度为视频原始高度 */
    object-fit: contain; /* 视频内容保持原始宽高比，尽可能大地适应容器 */
}